DATABASE_URL=postgresql://user:password@localhost:5432/realty_calendar
ADMIN_USERNAME=admin
ADMIN_PASSWORD=admin
SECRET_KEY=your-secret-key-change-this-in-production

POSTGRES_USER=user
POSTGRES_PASSWORD=password
POSTGRES_DB=realty_calendar 
POSTGRES_PORT=5432
POSTGRES_HOST=localhost
PORT=4001